body{
    text-align:center;
    font-family: Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro',メイリオ, Meiryo,'ＭＳ Ｐゴシック', sans-serif;
}

h2{
    color: rgb(174, 216, 255);
}

span{
    color: rgb(174, 216, 255);
}
p{
    color: rgb(174, 216, 255);
}

.modan{
	background-color: rgba(114, 99, 76, 0.80);
}

.honbun {
    margin-top: 30px;
    margin-bottom: 12px;
}

.label{
    vertical-align: top;
    margin-right: 5px;
}

.submit{
    border-top: 4px solid rgb(77, 51, 36);
    margin: 40px auto;
    max-width: 975px;
}