@charset "UTF-8";

body{
	background-image: url("./library.jpg");
}
h1 {
  color: #3d63d6;/*文字色*/
  border: solid 3px #3d63d6;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}

.skyblue{
    background-color: rgb(170, 255, 227);
}

/*二段組み--------------------------------------------------*/
#main {
    width:1000px; /*メインの横幅*/
    float:right; /*右に寄せる（他の要素を左に回り込ませる)*/
    margin: 0px; 
} 
#side {
    width:220px; /*サイドの横幅*/
    float:left; /*左に寄せる*/
	margin: 0px; 
	border-right: thick dashed #b6f3e3;
	position: fixed;
}
/*----------------------------------------------------------*/

/*メニューバーの表示----------------------*/
ul.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: black;
	position: relative;
	overflow: auto;
}
ul.sidenav li a {
	display: block;
	color: #e48315;
	padding: 8px 16px;
	text-decoration: none;
}
ul.sidenav li a.active {
	background-color: #4245ff;
	color: white;
}
ul.sidenav li a:hover:not(.active) {
	background-color: #e48315;
	color: white;
}
div.content {
	margin-left: 25%;
	padding: 1px 16px;
	height: 1000px;
}
@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
		float: left;
		padding: 15px;
	}
	div.content {
		margin-left: 0;
	}
}
@media screen and (max-width: 480px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}
/*---------------------------------------*/